@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Inter, sans-serif;
}

input, button {
  font-family: inherit;
}

body {
  font-size: 1.6rem;
  background: #1c1c1c;
}

.container {
  width: clamp(350px, 85%, 462px);
  margin: 0 auto;
}

header {
  position: relative;
  max-width: 550px;
  height: 208px;
  margin: 0 auto;
  background: url('./img/header-bg.jpg') center center / cover no-repeat;
  color: #ffffff;
}

header .container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.title {
  font-size: 4.3rem;
  font-weight: 800;
}

.watchlist-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
}

.movie-search {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(50%);
  z-index: 10;
  padding-left: 1.3rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #9CA3AF;
  border-radius: 5px;
  overflow: hidden;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.8rem;
}

.search-input {
  color: #6b7280;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  border: none;
  outline: none;
  padding: 0.9rem;
  padding-left: 0;
  flex-grow: 2;
}

.search-btn {
  height: 100%;
  color: #374151;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  padding: 0.9rem 0;
  flex-grow: 1;
  background-color: #fff;
  border: none;
  border-left: 1px solid #9CA3AF;
  cursor: pointer;
  transition: 0.2s;
}

.search-btn:hover {
  background-color: #9CA3AF;
  color: #fff;
}