@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
  --header-height: 20.8rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Inter, sans-serif;
}

input,
button {
  font-family: inherit;
}

body {
  font-size: 1.6rem;
  background: #1c1c1c;
  min-height: 100vh;
}

.container {
  width: clamp(350px, 85%, 462px);
  margin: 0 auto;
}

header {
  position: relative;
  max-width: 550px;
  height: var(--header-height);
  margin: 0 auto;
  background: url('./img/header-bg.jpg') center center / cover no-repeat;
  color: #ffffff;
}

header .container {
  position: relative;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.title {
  font-size: 4.3rem;
  font-weight: 800;
}

.watchlist-link {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.4rem;
  font-weight: 700;
}

.movie-search {
  position: absolute;
  bottom: 0;
  width: 100%;
  transform: translateY(50%);
  z-index: 10;
  padding-left: 1.3rem;
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #9ca3af;
  border-radius: 5px;
  overflow: hidden;
}

.search-icon {
  width: 20px;
  height: 20px;
  margin-right: 0.8rem;
}

.search-input {
  color: #6b7280;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  border: none;
  outline: none;
  padding: 0.9rem;
  padding-left: 0;
  flex-grow: 2;
}

.search-btn {
  height: 100%;
  color: #374151;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 2rem;
  padding: 0.9rem 0;
  flex-grow: 1;
  background-color: #fff;
  border: none;
  border-left: 1px solid #9ca3af;
  cursor: pointer;
  transition: 0.2s;
}

.search-btn:hover {
  background-color: #9ca3af;
  color: #fff;
}

main {
  max-width: 550px;
  margin: 0 auto;
  background-color: #fff;
}

.main-content {
  position: relative;
  min-height: calc(100vh - var(--header-height));
  padding-top: 6.3rem;
  display: flex;
  flex-direction: column;
}

.empty-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.hidden {
  display: none;
}

.empty-placeholder img {
  max-width: 70px;
  max-height: 60px;
}

.empty-placeholder h2 {
  color: #dfdddd;
  font-size: 1.8rem;
  font-weight: 700;
  text-align: center;
}

.message {
  margin: auto;
  max-width: 32rem;
  color: #dfdddd;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2rem;
  text-align: center;
}

.empty-placeholder,
.message {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  align-self: center;
}

.movie-item {
  padding-bottom: 2.7rem;
  display: grid;
  grid-template-columns: 99px 1fr;
  gap: 2rem;
  margin-bottom: 2.1rem;
  border-bottom: 1px solid #e5e7eb;
  overflow: hidden;
}

.movie-item:last-child {
  border: none;
}

.movie-poster {
  width: 99px;
  height: 147px;
}

.movie-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.movie-info {
  padding: 1.5rem 0 1.3rem;
}

.movie-info-header {
  display: flex;
  align-items: center;
  gap: 0.8rem;
  margin-bottom: 1.1rem;
}

.movie-title {
  color: #000000;
  font-size: 1.8rem;
  font-weight: 500;
  line-height: 2rem;
}

.movie-rating {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: #111827;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2rem;
}

.movie-rating img {
  width: 15px;
  height: 15px;
}

.movie-info-additional {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.8rem;
  color: #111827;
  font-size: 1.2rem;
  line-height: 2rem;
  padding-right: 6rem;
}

.movie-genre {
  text-align: center;
}

.movie-action {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.movie-descr {
  max-height: 6rem;
  color: #6b7280;
  font-size: 1.4rem;
  font-weight: 400;
  line-height: 2rem;
}

.read-more {
  background-color: #fff;
  border: none;
  margin-left: 2px;
  cursor: pointer;
}

/* ================== watchlist.html styles ==================== */

.main-content-pt35 {
  padding-top: 3.5rem;
}

.watchlist-empty {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: center;
}

.watchlist-empty .message {
  max-width: 100%;
}

.add-movies {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  background-color: #fff;
  border: none;
  color: #363636;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
  cursor: pointer;
}

.add-movies img {
  width: 18px;
  height: 18px;
}
